<!-- Navbar -->
<div class="navbar__main">
  <div class="navbar__logo">
    <a href="#"><img src="./../../assets/icons/price.svg" style="cursor: pointer; zoom: 80%;"></a>
  </div>
  <!-- Menu -->
  <div class="navbar__menu">
    <div style="margin-left: 155px; display: flex;">
      <span class="navbar__item" style="margin-right: 25px;">
        Home
      </span>
      <span class="navbar__item" style="margin-right: 25px;">
        Trending Price Drops
      </span>
      <span class="navbar__item">
        Popular Products
      </span>
    </div>
  </div>
  <!-- Select Amazon -->
  <div class="navbar__select">
    <select>
      <option>
        Amazon U.S
      </option>
    </select>
    <!-- Sign In -->
    <button class="navbar__signIn">Sign In</button>
  </div>
</div>

<!-- Search -->
<div class="search__main">
  <div class="search">
    <span style="color: #0D65F8; font-size: 51px; font-weight: bold; width: 577px; margin-bottom: 32px;">Get Instant E-mail Notifications When Amazon Prices Drop.</span>
    <div style="display: flex;">
      <input type="text" style=" width: 512px; border-radius: 6px;" placeholder="Enter Product URL (http://www.amazon.com/Fufkdfjkdlj-dsfkjls-Mobil...)">
      <button class="navbar__signIn"><span style="font-size: 14px">Search</span></button>
    </div>
    <span style="font-size: 12.5px; color: #707070; margin-top: 18px; ">
      * You can also search via Keyword (i.e. Apple Airpods Pro)
    </span>
  </div>
  <div class="search__image">
    <img src="./../../assets/icons/image.svg">
  </div>
</div>
