<!-- Navbar -->
<div class="navbar__main">
  <div class="navbar__logo">
    <a href="#"><img src="./../../assets/icons/price.svg" style="cursor: pointer;"></a>
  </div>
  <!-- Menu -->
  <div class="navbar__menu">
    <div style="margin-left: 90px; display: flex;">
      <span class="navbar__item" style="margin-right: 25px;">
        Home
      </span>
      <span class="navbar__item" style="margin-right: 25px;">
        Trending Price Drops
      </span>
      <span class="navbar__item">
        Popular Products
      </span>
    </div>

  </div>
  <!-- Select Amazon -->
  <div class="navbar__select">
    <select>
      <option>
        Amazon U.S
      </option>
    </select>
    <!-- Sign In -->
    <button class="navbar__signIn">Sign In</button>
  </div>
</div>

<!-- Search -->
<div class="search__main">
  <div class="search">
  </div>
  <div class="search__image">
    <img src="./../../assets/icons/image.svg">
  </div>
</div>
