<!-- Navbar -->
<div class="navbar__main">
  <div class="navbar__logo">
    <a href="#"><img src="./../../assets/icons/price.svg" style="cursor: pointer; zoom: 80%;"></a>
  </div>
  <!-- Menu -->
  <div class="navbar__menu">
    <div style="margin-left: 155px; display: flex;">
      <span class="navbar__item" style="margin-right: 25px;">
        Home
      </span>
      <span class="navbar__item" style="margin-right: 25px;">
        Trending Price Drops
      </span>
      <span class="navbar__item">
        Popular Products
      </span>
    </div>
  </div>
  <!-- Select Amazon -->
  <div class="navbar__select">
    <select class="navbar__select__amazon">
      <option>
        Amazon U.S
      </option>
    </select>
    <!-- Sign In -->
    <button class="navbar__signUp">Sign Up</button>
  </div>
</div>

<!-- Search -->
<div class="search__main">
  <div class="search">
    <span style="color: #0D65F8; font-size: 51px; font-weight: bold; width: 577px; margin-bottom: 32px;">Get Instant
      E-mail Notifications When Amazon Prices Drop.</span>
    <div style="display: flex;">
      <input type="text" placeholder="Enter Product URL (http://www.amazon.com/Fujifilm-Instax-SP-3-Mobil...)">
      <button class="navbar__signUp"><span style="font-size: 14px">Search</span></button>
    </div>
    <span style="font-size: 12.5px; color: #707070; margin-top: 18px; ">
      * You can also search via Keyword (i.e. Apple Airpods Pro)
    </span>
  </div>
  <div class="search__image">
    <img src="./../../assets/icons/image.svg">
  </div>
</div>
<!-- Filter -->
<div class="filter__main">
  <!-- Select Filter -->
  <select class="filter__select__amazon">
    <option>
      Best Prices
    </option>
  </select>
  <!-- Filter Items -->
  <div class="filter__items">
    <span class="filter__item">
      Amazon US
    </span>
    <span class="filter__item">
      Amazon UK
    </span>
    <span class="filter__item">
      Amazon Canada
    </span>
    <span class="filter__item">
      Amazon India
    </span>
  </div>
  <!-- Filter Icon -->
  <div class="filter__icon">
    <div class="filter__div__image">
      <img src="./../../assets/icons/filter.svg">
    </div>
  </div>
</div>

<!-- Cards -->
<div class="cards__main">
  <div class="card__container">
    <img style="height: 120px; " src="./../../assets/icons/apple-macbook-pro.svg">
    <div class="card__container__popup">
      <div class="card__popup">
        Best Price
      </div>
    </div>
    <div class="card__container__product">
      <span class="card__span">
        Apple MacBook Pro 13' 2.4
      </span>
      <div class="card__price">
        <div class="card__container__price">
          <span class="card__span__label__price">
            Current Price
          </span>
          <span class="card__span__price">
            $899.99
          </span>
        </div>
        <div class="card__container__price">
          <span class="card__span__label__price">
            Highest Price
          </span>
          <span class="card__span__price__highest">
            $1099.99
          </span>
        </div>
      </div>
      <div style="margin-top: 25px;"></div>
      <!-- Buy Now -->
      <div class="card__button__container">
        <button class="card__button">Buy Now</button>
      </div>
    </div>
  </div>

  <div class="card__container" style="margin-left: 68px;">
    <img src="./../../assets/icons/roland.svg" style="height: 120px;">
    <div class="card__container__popup">
      <div class="card__popup">
        Best Price
      </div>
    </div>
    <div class="card__container__product">
      <span class="card__span">
        Roland F-20 88 Weighted
      </span>
      <div class="card__price">
        <div class="card__container__price">
          <span class="card__span__label__price">
            Current Price
          </span>
          <span class="card__span__price">
            $430.99
          </span>
        </div>
        <div class="card__container__price">
          <span class="card__span__label__price">
            Highest Price
          </span>
          <span class="card__span__price__highest">
            $489.99
          </span>
        </div>
      </div>
      <div style="margin-top: 25px;"></div>
      <!-- Buy Now -->
      <div class="card__button__container">
        <button class="card__button">Buy Now</button>
      </div>
    </div>
  </div>

  <div class="card__container" style="margin-left: 68px;">
    <img class="card__img" src="./../../assets/icons/alienware.svg">
    <div class="card__container__popup">
      <div class="card__popup">
        Best Price
      </div>
    </div>
    <div class="card__container__product">
      <span class="card__span">
        Alienware m17 R3 17.7
      </span>
      <div class="card__price">
        <div class="card__container__price">
          <span class="card__span__label__price">
            Current Price
          </span>
          <span class="card__span__price">
            $2499.00
          </span>
        </div>
        <div class="card__container__price">
          <span class="card__span__label__price">
            Highest Price
          </span>
          <span class="card__span__price__highest">
            $2699.99
          </span>
        </div>
      </div>
      <div style="margin-top: 25px;"></div>
      <!-- Buy Now -->
      <div class="card__button__container">
        <button class="card__button">Buy Now</button>
      </div>
    </div>
  </div>

  <div class="card__container" style="margin-left: 68px;">
    <img src="./../../assets/icons/jbl.svg" style="height: 120px;">
    <div class="card__container__popup">
      <div class="card__popup">
        Best Price
      </div>
    </div>
    <div class="card__container__product">
      <span class="card__span">
        JBL Boombox - Waterproof
      </span>
      <div class="card__price">
        <div class="card__container__price">
          <span class="card__span__label__price">
            Current Price
          </span>
          <span class="card__span__price">
            $499.95
          </span>
        </div>
        <div class="card__container__price">
          <span class="card__span__label__price">
            Highest Price
          </span>
          <span class="card__span__price__highest">
            $505.99
          </span>
        </div>
      </div>
      <div style="margin-top: 25px;"></div>
      <!-- Buy Now -->
      <div class="card__button__container">
        <button class="card__button">Buy Now</button>
      </div>
    </div>
  </div>

  <div class="card__container" style="margin-left: 68px; ">
    <img class="card__img" src="./../../assets/icons/elac.svg">
    <div class="card__container__popup">
      <div class="card__popup">
        Best Price
      </div>
    </div>
    <div class="card__container__product">
      <span class="card__span">
        ELAC Debut 2.0 SUB3010
      </span>
      <div class="card__price">
        <div class="card__container__price">
          <span class="card__span__label__price">
            Current Price
          </span>
          <span class="card__span__price">
            $459.98
          </span>
        </div>
        <div class="card__container__price">
          <span class="card__span__label__price">
            Highest Price
          </span>
          <span class="card__span__price__highest">
            $579.98
          </span>
        </div>
      </div>
      <div style="margin-top: 25px;"></div>
      <!-- Buy Now -->
      <div class="card__button__container">
        <button class="card__button">Buy Now</button>
      </div>
    </div>
  </div>
</div>

<div style="margin: 63px;"></div>
<!-- Banner -->
<div class="banner__container">
  <div class="banner__message">
    <span class="banner__span">
      Want to get notified when any product receives a price drop?
    </span>
    <div>
      <input class="banner__input" type="text" placeholder="Enter Email Address">
      <button class="banner__button__sign">Sign In</button>
    </div>
    <span class="banner__span__notifications">
      * No spam, ever. Only receive price drop notifications.
    </span>
  </div>
  <div class="banner__image">
    <img src="./../../assets/icons/img-modal.svg">
  </div>
</div>

<!-- Footer -->
<div class="footer__main">
  <div style="zoom: 80%;">
  <img src="./../../assets/icons/footer-image.svg">
  </div>

  <div class="footer__item">
    <span class="footer__span">Price.io</span>
    <a href="/" class="footer__label">Home</a>
    <a href="/" class="footer__label">Trending Price Drops</a>
    <a href="/" class="footer__label">Popular Products</a>
  </div>

  <div class="footer__item" >
    <span class="footer__span">Amazon Store Selector</span>
    <a href="/" class="footer__label">Amazon US</a>
    <a href="/" class="footer__label">Amazon UK</a>
    <a href="/" class="footer__label">Amazon Canada</a>
    <a href="/" class="footer__label">Amazon India</a>
  </div>

  <div class="footer__item" >
    <span class="footer__span">Hotlinks</span>
    <a href="/" class="footer__label">Sign Up</a>
    <a href="/" class="footer__label">Sign In</a>
    <a href="/" class="footer__label">Support</a>
  </div>

  <div class="footer__item">
    <span class="footer__span">Personal</span>
    <a href="/" class="footer__label">Dashboard</a>
  </div>

  <div class="footer__item">
    <span class="footer__span" style="margin-bottom: 10px;">Follow Us On</span>
      <div style="display: flex; width: 100%; justify-content: space-between;">
        <img src="./../../assets/icons/twitter.svg">
        <img src="./../../assets/icons/facebook.svg">
        <img src="./../../assets/icons/instagram.svg">
      </div>
  </div>

  <div style="display: flex; justify-content: flex-end; width: 31%;">
    <span>Made with ❤️by a Good Code Challenger</span>
  </div>
</div>


<div style="height: 1000px;"></div>
