// Navbar
.navbar__main {
  display: flex;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgb(172, 172, 172);
  height: 75px;
  background-color: #FFFFFF;
  z-index: 2;
}

.navbar__logo {
  display: flex;
  margin-left: 112px;
}

.navbar__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar__item {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}

a {
  display: flex;
}

.navbar__select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__select__amazon {
  height: 47px;
  width: 140px;
  border-radius: 6px;
  padding-left: 48px;
  border: 1px solid #AAAAAA;
  font-size: 11px;
  background: url('./../../assets/icons/american-flag.svg') no-repeat left center;
  background-position: 9px;
}

select:focus {
  outline: none;
}

.navbar__signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 112px;
  border-radius: 6px;
  margin-right: 100px;
  margin-left: 20px;
  background-color: #F6DA9F;
  border: 1px solid #976900;
}

.navbar__signUp:focus {
  outline: none;
}

// Search
.search__main {
  display: flex;
  height: 542px;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 190px;
  margin-left: 112px;
  z-index: 1;
}

.search__image {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  height: 542px;
  z-index: 0;
  margin-left: 258px;
  margin-bottom: 2px;
  overflow: hidden;;
}

input {
  padding: 10px;
  background: #F1F6F9;
  border: 1px solid #C7C7C7;
  font-size: 14.5px;
  width: 512px;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

.filter__select__amazon {
  height: 47px;
  width: 182px;
  border-radius: 6px;
  border: 1px solid #AAAAAA;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
}

.filter__item {
  display: flex;
  margin-right: 20px;
  font-size: 14px;
}

.filter__item:hover {
  border-bottom: 5px solid red;
  line-height: 2;
  margin-top: -5px;
  font-weight: bold;
}

