// Navbar
.navbar__main {
  display: flex;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgb(172, 172, 172);
  height: 75px;
  background-color: #ffffff;
  z-index: 2;
}

.navbar__logo {
  display: flex;
  margin-left: 112px;
}

.navbar__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar__item {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}

a {
  display: flex;
}

.navbar__select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__select__amazon {
  height: 47px;
  width: 140px;
  border-radius: 6px;
  padding-left: 48px;
  border: 1px solid #aaaaaa;
  font-size: 11px;
  background: url("./../../assets/icons/american-flag.svg") no-repeat left
    center;
  background-position: 9px;
}

select:focus {
  outline: none;
}

.navbar__signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 112px;
  border-radius: 6px;
  margin-right: 100px;
  margin-left: 20px;
  background-color: #f6da9f;
  border: 1px solid #976900;
  cursor: pointer;
}

.navbar__signUp:focus {
  outline: none;
}

// Search
.search__main {
  display: flex;
  height: 542px;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 190px;
  margin-left: 112px;
  z-index: 1;
}

.search__image {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  height: 542px;
  z-index: 0;
  margin-left: 258px;
  margin-bottom: 2px;
  overflow: hidden;
}

input {
  padding: 10px;
  background: #f1f6f9;
  border: 1px solid #c7c7c7;
  font-size: 14.5px;
  width: 512px;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

// Filter

.filter__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 7px;
  margin-top: 55px;
  margin-bottom: 57px;
}

.filter__select__amazon {
  height: 47px;
  width: 182px;
  border-radius: 6px;
  border: 1px solid #aaaaaa;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

.filter__items {
  position: relative;
  display: flex;
  justify-content: center;
  width: 53%;
  margin-left: 83px;
}

.filter__item {
  display: flex;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.filter__item:hover {
  border-bottom: 5px solid #e47911;
  line-height: 2;
  margin-top: -5px;
  font-weight: bold;
}

.filter__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15.5%;
  border-radius: 6px;
  position: relative;
}

.filter__div__image {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  padding: 11px 15px 10px 15px;
  cursor: pointer;
}

// Cards

.cards__main {
  display: flex;
  width: 86%;
  min-height: 291px;
  margin-left: 120px;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 205px;
  background-color: #ffffff;
  border-radius: 6px;
}

.card__span {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 26px;
}

.card__popup {
  position: relative;
  color: white;
  display: flex;
  width: 70px;
  background: #2abfb5;
  margin-right: 9px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
  margin-top: -113px;
  height: 22px;
}

.card__container__popup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.card__img {
  height: 120px;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-radius: 6px 6px 0 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
}

.card__container__price {
  display: flex;
  flex-direction: column;
}

.card__span__label__price {
  font-size: 10px;
}

.card__span__price {
  font-size: 14px;
  color: #2abfb5;
}

.card__span__price__highest {
  font-size: 14px;
  color: #c5c5c5;
}

.card__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  border-radius: 4px;
  background: #f6da9f;
  border: 1px solid #976900;
  font-size: 14px;
  cursor: pointer;
}

.card__button:focus {
  outline: none;
}

.card__button__container {
  display: flex;
  justify-content: center;
  width: 82%;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card__container__product {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-radius: 0 0 6px 6px;
}

// Banner

.banner__container {
  display: flex;
  width: 85.2%;
  margin: 0 auto;
  background-color: #0D65F8;
  min-height: 270px;
  border-radius: 4px;
  margin-left: 118px;
}

.banner__message {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.banner__span {
  font-size: 37px;
  color: white;
  font-weight: bold;
  margin-left: 34px;
  margin-top: 39px;
  margin-bottom: 20px;
}

.banner__input {
  width: 285px;
  margin-left: 35px;
  margin-right: 10px;
  padding-left: 71px;
  height: 42px;
  border-radius: 4px;
  padding-right: 63px;
}

.banner__button__sign {
  width: 184px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #976900;
  background: #F6DA9F;
  cursor: pointer;
}

.banner__span__notifications {
  margin-left: 35px;
  color: white;
  margin-top: 20px;
  color: #79ABFE;
}

.banner__image {
  width: 733px;
  height: 270px;
  overflow: hidden;
  border-radius: 4px;
}

// Footer

.footer__main {
  display: flex;
  margin-top: 55px;
  margin-left: 105px;
}

.footer__item {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
}

.footer__span {
  font-weight: bold;
  font-size: 14px;
}

.footer__label {
  margin-top: 8px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
